body {
  margin: 200px 200px;
}
h1 {
  color: blue;
}

input {
  position: relative;
  top: -70px;
  left: 450px;
}
.col {
  text-align: center;
  font-size: larger;
}
.fa-regular {
  color: orange;
  font-size: larger;
}
